repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: mypy
        name: mypy
        entry: uv run mypy python_template tests
        language: system
        pass_filenames: false
        require_serial: true
      - id: bandit
        name: bandit
        entry: uv run bandit
        language: system
        types: [python]
        require_serial: true
default_language_version:
  python: python
