repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: make format
        language: system
        pass_filenames: false
        require_serial: true
      - id: lint
        name: lint
        entry: make lint
        language: system
        pass_filenames: false
        require_serial: true
      - id: typecheck
        name: typecheck
        entry: make typecheck
        language: system
        pass_filenames: false
        require_serial: true
      - id: bandit
        name: bandit
        entry: make bandit
        language: system
        pass_filenames: false
        require_serial: true
default_language_version:
  python: python
