name: Python Template CI

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub
        uses: actions/checkout@v3
      - name: Poetry
        run: |
          sudo apt-get update
          sudo apt-get install curl

          curl -sSL https://install.python-poetry.org | python -
          echo "${HOME}/.poetry/bin" >> ${GITHUB_PATH}
      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.8'
          architecture: 'x64'
          cache: 'poetry'

      - name: Install Virtual Environment
        run: poetry install
      - name: Run Unit Tests
        run: |
          poetry run pytest --cov=python_template tests
